<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="Description" content="{echo:$metaDesc;/}" />
<meta name="Keywords" content="{echo:$metaKeys;/}" />
<meta name="author" content="{echo:$metaAuthor;/}" />
<meta name="robots" content="all" />
</head>
<body>
{inc:require("uiparts/footor.php");/}
<SCRIPT language=JavaScript src="servtools/ajax_client/auto_ajax.js"></SCRIPT>
</body>
</html>